<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image2_path}}); background-color: #EDE9E0; border-bottom: 10px solid #1C2C4D;">
        <!-- title -->
        <a href="/"><h1 class="hero-text">{{site.data.settings.images.hero_text | replace: '-- MARKET --', site.data.settings.client.market}}</h1></a>


        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo3_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>

        <a href="/"><img src="{{site.data.settings.images.hero_logo2_path}}" alt="{{site.data.settings.client.company}}" class="main-logo" /></a>

        <a href="/"><img src="{{site.data.settings.images.hero_logo4_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>


			</div>
</header>
